@font-face {
  font-family: "Title";
  src: url(../Resources/AlexBrush-Regular.ttf);
}

#main {
  height: 100%;
  width: 100%;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}
