.img-circle {
  border-radius: 50%;
  height: 25vw;
  width: 25vw;
  margin: auto;
  z-index: 3;
  position: absolute;
  left: 37.5%;
}

.img-circle.revealed {
  left: 12.5%;
}

.container {
  width: 100vw;
  height: 25em;
  position: relative;
}

.row {
  width: 95%;
  height: 20%;
  padding: 2.5%;
  margin: auto;
  display: flex;
  align-content: center;
}

.text {
  text-align: left;
  z-index: 1;
  align-self: center;
  font-size: 2em;
  width: 50%;
  opacity: 0;
  transition: all .3s;
}

.text.visible {
  text-align: left;
  z-index: 1;
  margin-left: 50%;
  align-self: center;
  font-size: 2em;
  width: 50%;
  opacity: 1;
  transition: all .3s;
}

p::before {
  width: auto;
  z-index: 2;
  height: 25em;
  background-color: rgba(255, 0, 0, 0.5);
}
