@font-face{
	font-family: 'Title';
	src: url('../Resources/fonts/Alex.ttf');
}

@font-face{
	font-family: 'Antonio';
	src: url('../Resources/fonts/antonio.ttf');
}

h1, h2, h4 {
  font-family: 'Title', Arial, sans-serif;
}

h3, h5, p, a {
  font-family: 'Antonio', Georgia, serif;
}


h1 {
  font-size: 3em;
  color: #ff6666;
}
