.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: baseline;
  position: relative;
  z-index: 5;
}

.column {
  display: flex;
  width: 50%;
  flex-flow: column;
  padding: 0 7%;
  justify-content: flex-start;
  text-align: center;
  color: #b5b5b5;
}

.gold-text {
    font-family: "Blackjack", sans-serif;
    font-size: 9em;
    padding: 10;
    color: #c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url('../Resources/5917b.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

h1 {
  font-size: 5em !important;
}

h2 {
  color: #d94f5c;
}

b {
  font-weight: bold;
}

.it {
  font-style: italic;
}
